.Faceoff{
   display:flex;
   flex-direction: row; 
 
}
.Faceoff1{
    display:flex;
    flex-direction: column; 
 }
 .Faceoff2{
    display:flex;
    flex-direction: column; 
 }

.chart1{
padding: 3px;
width: 75%;
}
.chart2{
padding: 3px;
width: 75%;
}

.chart3{
padding: 3px;
width: 75%;
}
.chart4{
padding: 3px;
width: 75%;
}