body {
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
    background: linear-gradient(to right, #25c481, #25b7c4);
  }
  
  table {
    width: 100%;
    table-layout: auto;
    border: 5px solid black;
    margin-top: 5px;
    border-radius: 5px;
    line-height: 1;
    
  }
  
  tbody {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  tr {
    width: 100%;
  }
  
  th,
  td {
    padding: 7px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-align: center;
  }
  
  .sort-button {
    background-color: transparent;
    border: none;
  
    padding: 1px;
    margin: 0;
    line-height: 1;
    font-size: 15px;
    color: black;
    cursor: pointer;
  
    transition: transform 0.05s ease-out;
  }
  
  .sort-reverse {
    transform: rotate(180deg);
  }